* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: #eaeaea;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #000;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #eaeaea;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero span {
  color: #00ffd5;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.stats h3 {
  color: #00ffd5;
  font-size: 2rem;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 70px 20px;
}

h2 {
  color: #00ffd5;
  margin-bottom: 20px;
}

/* SKILLS */
.skills-grid span {
  background: #1c1c1c;
  padding: 12px 18px;
  margin: 6px;
  display: inline-block;
  border-radius: 8px;
}

/* PROJECTS */
.project-card {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* CONTACT */
.contact a {
  color: #00ffd5;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  margin-top: 40px;
}
